<h4>Hi, my name is José Alessandro!</h4>
<br />
<p>I've been work with .Net since the beginning of Framework. Below some my skills:</p>
<ul>
  <li>.NET Core</li>
  <li>Angular</li>
  <li>MVC</li>
  <li>C# and VB</li>
  <li>Oracle and PL/SQL</li>
  <li>SQL</li>
  <li>DDD/OO</li>
  <li>Web API</li>
  <li>WCF</li>
  <li>SCRUM</li>
</ul>
<p>Last year I worked for Safra Bank, one of the largest bank in the world, some projects:</p>
<ul>
  <li><strong>Credit Plataform</strong>: Playroll loans for vehicles, using .NET Core and Angular, Web API and WCF - large project</li>
  <li><strong>Billing Plataform</strong>. Using .NET Core and Angular, Web API and WCF - medium project</li>
  <li><strong>Goal analysis</strong>. Using .NET MVC and WCF</li>
</ul>
<br />
<p>Use the menu to access the user registry</p>
